:root {
  --main-color: black;
  --main-bg-color: white;

  --modal-backdrop-bg-color: rgba(0, 0, 0, .2);
  --modal-border-color: rgba(0, 0, 0, .2);
  --modal-internal-border-color: #dee2e6;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.ui-modal p:first-child {
  margin-top: 0;
}
.ui-modal p:last-child {
  margin-bottom: 0;
}

pre {
  font-size: .8rem;
  line-height: 1.1rem;
}

label {
  font-size: .9rem;
}

input {
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin: 2px 0 24px;
  padding: 8px 4px;
  width: 100%;
}

.ui-modal.ui-fade-modal {
  opacity: 0;
  transition: opacity .5s linear;
}

body.ui-modal-open {
  .ui-modal {
    opacity: 1;
  }
}
