$zModal: 99999;
$zModalBackdrop: $zModal - 1;

$interalBorderColor: #dee2e6;

body.ui-modal-open {
  overflow: hidden;
}

.ui-modal {
  position: fixed;
  z-index: $zModal;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}

.ui-modal-backdrop {
  position: fixed;
  z-index: $zModalBackdrop;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, .2);
}

.ui-modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
  pointer-events: none;
}

.ui-modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  color: #000;
}

.ui-modal-header,
.ui-modal-body,
.ui-modal-footer {
  padding: 1rem;
}

.ui-modal-header,
.ui-modal-footer {
  display: flex;
}

.ui-modal-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $interalBorderColor;
}

.ui-modal-title {
  font-size: 1rem;
  margin: 0;
}

.ui-modal-close {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 24px;
}

.ui-modal-body {
  position: relative;
  flex: 1 1 auto;
}

.ui-modal-footer {
  justify-content: flex-end;
  border-top: 1px solid $interalBorderColor;
}

/**
 * Scrollable
 */

.ui-modal-dialog.ui-scrollable {
  height: calc(100% - 3.5rem);

  .ui-modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .ui-modal-body {
    overflow-y: auto;
  }
}

/**
 * Centered vertically
 */

.ui-modal-dialog.ui-centered {
  display: flex;
  align-items: center;

  min-height: calc(100% - 3.5rem);
}

/**
 * Fullscreen
 */

.ui-modal-dialog.ui-fullscreen {
  width: 100vw;
  height: 100%;
  margin: 0;
  max-width: none;

  .ui-modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
}
